<h2>Menú Hospitales</h2>

<ul class="list-group">
	<li class="list-group-item">
		<a asp-controller="Hospitales"
			asp-action="Cliente"
			class="btn btn-info">
			Api Hospitales Client
		</a>
	</li>
	<li class="list-group-item">
		<a asp-controller="Hospitales"
		   asp-action="Servidor"
		   class="btn btn-info">
			Api Hospitales Server
		</a>
	</li>
</ul>